{% extends 'layout/default.html' %}

{% block title %}
Posts
{% endblock title %}
 
{% block content %}
    <h1>Все объявления</h1>
    <form method="GET">
        {{ filter.form }}
        <input class="btn btn-primary" type="submit" value="Найти">
    </form>
    
    {% if posts %}
        <table  class="table table-hover">
            <tr>
                <th scope="col">
                    Заголовок
                </th>
                <th scope="col">
                    Дата публикации
                </th>
                <th scope="col">
                    Автор
                </th>
                <th scope="col">
                    Категория
                </th>
            </tr>
            {% for p in posts %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' p.id %}">
                        {{p.title}}
                    </a>
                </td>
                <td>
                    {{p.dateCreation|date:'d-m-Y h:m'}}
                </td>
                <td>
                    {{p.user.username}}
                </td>
                <td>
                    {{p.get_categoryType_display}}
                </td>
            </tr>
            {% endfor %}
        </table>
       
        <!-- Заменили код пагинатора на подключение шаблона с этим кодом -->
        {% include 'boardapp/parts/paginator.html' %}
    
        {% else %}
        <h3>Нет объявлений</h3>
    {% endif %}
{% endblock content %}