{% extends 'layout/default.html' %}

{% block title %}
{{ post.title }}
{% endblock title %}
 
{% block content %}
<h1>Объявление</h1>
<br>
<div class="card">
    <div class="card-header">
        Категория: {{ post.get_categoryType_display }}
    </div>
    <div class="card-body">
        <h3 class="card-title">{{ post.title }}</h3>
        <p class="card-text"><small class="text-body-secondary">{{ post.dateCreation|date:'d-m-Y h:m' }} — {{ post.user.username }}</small></p>
        <p class="card-text">{{ post.content | safe }}</p>
    </div>
    <div class="card-footer text-body-secondary">
        <a href="{% url 'post_update' post.id %}" class="card-link">Изменить</a>
        <a href="{% url 'post_delete' post.id %}" class="card-link">Удалить</a>
    </div>
</div>
<br>
<h3>Оставить отклик</h3>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <br>
    <input class="btn btn-success" type="submit" value="Сохранить отзыв">
</form>

{% endblock content %}