{% extends 'layout/default.html' %}

{% block title %}
Posts
{% endblock title %}
 
{% block content %}
    <h1>Отклики на мои объявления</h1>
    <form method="GET">
        {{ filter.form }}
        <input class="btn btn-primary" type="submit" value="Найти">
    </form>
    
    {% if replys %}
        <table  class="table table-hover">
            <tr>
                <th scope="col" class="col-2">
                    Мое объявление
                </th>
                <th scope="col" class="col-5">
                    Отклик
                </th>
                <th scope="col" class="col-1">
                    Автор
                </th>
                <th scope="col" class="col-2">
                    Дата публикации
                </th>
                <!-- <th scope="col">
                    Принят
                </th> -->
                <th scope="col" class="col-2">
                    
                </th>
            </tr>
            {% for p in filter.qs %}
            <tr>
                <td>
                    {{p.feedbackPost.title}}
                </td>
                <td>
                    {{p.text}}
                </td>
                <td>
                    {{p.feedbackUser.username}}
                </td>
                <td>
                    {{p.dateCreation|date:'d-m-Y H:i'}}
                </td>
                <!-- <td>
                    {{p.acceptStatus}}
                </td> -->
                <td>
                    {% if not p.acceptStatus %}
                    <a class="btn btn-success" role="button" href="{% url 'accept_reply' p.id %}">
                        Принять
                    </a>
                    {% else %}
                    ✅ Принят
                    {% endif %}
                    <a class="btn btn-danger" role="button" href="{% url 'delete_reply' p.id %}">
                        Удалить
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
       
        <!-- Заменили код пагинатора на подключение шаблона с этим кодом -->    
        {% else %}
        <h3>Нет объявлений</h3>
    {% endif %}
{% endblock content %}